.chakracontainer .charkrarotate {
  width: 300px;
  height: 300px;
  animation: chakra 40s infinite linear;
}

@keyframes chakra {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chakracontainer {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 800px; */
}
.cardcontainer {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  border: 1px solid black;
  height: 60px;
  border-radius: 6px;
  width: 220px;
  margin-bottom: 10px;
  /* margin-right: 180px; */
}

.cardcontainertwo {
  /* background-color: red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 60px;
  border-radius: 6px;
  width: 220px;
  margin-bottom: 10px;
  /* margin-left: 300px; */
}

.cardcontainer p {
  margin-top: 12px;
  /* margin-left: 28px; */
}
.cardcontainertwo p {
  margin-top: 12px;
  /* margin-left: 10px; */
}

.mainCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}
