.mainContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 1224px;
  /* height: 1768px; */
  /* border: 2px solid red; */
  /* margin: 10px 0px 140px 0px; */
  position: relative;
  background: url("../../assets/cardBackground.png");
  background-size: 100% 100%;

  background-repeat: no-repeat;
}

.imageswipercontainer {
  width: 100% !important;
  height: 100% !important;
}
.positioncontainer {
  margin-top: 40px;
}

.allCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .mainContainer .swiper::-webkit-scrollbar {
  display: none;
} */

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 463px;
  padding-top: 40px;
  border-radius: 8px;
  position: relative;
}

.card-data {
  position: absolute;
  margin-left: 10px;
  width: 95%;
  color: #fff;
  margin-bottom: 16px;
  /* top: 0;
  left: 0;
  height: 100%;
  object-fit: cover !important;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
  z-index: 1;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%); */
  /* border: 2px solid red; */
}

.card-data h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
  margin-top: 225px;
  /* color: #fff; */
  /* max-height: 18px; */
  /* text-overflow: ellipsis; */
  /* opacity: 0.8; */
  /* white-space: nowrap; */
}
.card-data p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.card-data h4 {
  font-size: 16px;
  font-weight: 500;
}

.card-data h6 {
  font-size: 12px;
  text-transform: capitalize;
  opacity: 0.9;
  color: #fff;
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  margin: 5px, 0;
}
.experience {
  position: absolute;
  margin-top: 19px;
  margin-left: 19px;
  margin-right: 16px;
}

.buttonContianer {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57.16px;
  background-color: #A95210;
 /* position: absolute;
  bottom: 0; */
  width: 50%;
  margin: 0;
  border-bottom-left-radius: 8px;
}
.buttonContianertwo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  height: 57.16px;
  background-color: #A95210;
 /* position: absolute;
  bottom: 0; */
  width: 50%;
  margin: 0;
  border-bottom-right-radius: 8px;
}

